<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans">
</head>
<body>

    <div class="header post-header">
        <div class="header-wrapper">
            <div class="wrapper wrapper-left">
            </div>
            <div class="header-middle">
                <div class="title">BLOG</div>
            </div>
            <div class="wrapper wrapper-right">
                <div class="circle" onclick="window.location.pathname='/game';">
                    <svg xmlns="http://www.w3.org/2000/svg" width="85.333" height="85.333" viewBox="0 0 64.000000 64.000000">
                        <path d="M30 20v10H20c-9.3 0-10 .1-10 2s.7 2 10 2h10v10c0 9.3.1 10 2 10s2-.7 2-10V34h10c9.3 0 10-.1 10-2s-.7-2-10-2H34V20c0-9.3-.1-10-2-10s-2 .7-2 10z" fill="white"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>The City</h1>
            <div class="date">2 days ago</div>
            <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>The City</h1>
            <div class="date">2 days ago</div>
            <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
        </div>
        <div class="col-3"></div>
    </div><div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>The City</h1>
            <div class="date">2 days ago</div>
            <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
        </div>
        <div class="col-3"></div>
    </div><div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>The City</h1>
            <div class="date">2 days ago</div>
            <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
        </div>
        <div class="col-3"></div>
    </div>


</body>
</html>

