<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/">
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans">
</head>
<body>

<div class="header new-post-header">
    <div class="header-wrapper">
        <div class="wrapper wrapper-left">
        </div>
        <div class="header-middle">
            <div class="title">NEW POST</div>
        </div>
        <div class="wrapper wrapper-right-check">
            <div class="circle" onclick=" window.location.pathname='/new-post';">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 78.369 78.369">
                    <path d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z" fill="white"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form action="{{ url_for('add') }}" method="post">
        <h1>Title</h1>
        <input type="text"  name="title">
        <h1>Description</h1>
        <input type="description" name="body"><br>
        <input type="submit" value="Add post">
        </form>
    </div>
</div>


</body>
</html>

