<!DOCTYPE html>
<head>
	<title>New question</title>
</head>
<body>
	<form action="/save" method="post">
		Name of test: <input type="text" name="test"><br>
		* Questions:<br>
		<span name='question_inner' id='question_inner'>
			<input type="text" name="question_0"><br>
		</span>
		<input type='button' value='Add' onclick="ff()"><br>
		<input type="text" name="type"><br>
	</form>
<body>

<script language='JavaScript' type="text/javascript">
var i = 1;
function ff(){
  document.getElementById('question_inner').innerHTML = document.getElementById('question_inner').innerHTML +
"<input type='text' name='question_" + i + "' /><br>";
 
i++;
}
</script>

</html>

