<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignUpPage</title>
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header class="header register">
        <div class="container">
            <h3 class="title-page">Login</h3>
        </div>
    </header>
    <div class="sign-up-form">
        <div class="container">
            <form>
                <label class="description-text">Email
                    <input class="light-text" type="text">
                </label>
                <label class="description-text">Password
                    <input class="light-text" type="password">
                </label>
                <button class="btn-reg-form">Sign Up!</button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="copy text-center">© 2016 Masters Academy</p>
        </div>
    </footer>
</body>
</html>