<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comments</title>
       <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="content-wrap">
                 <a class="btn-back" href="{{ url_for('show_entries') }}">
                    <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"/></svg>
                </a>
                <h3 class="title-article-page vert-align">Comments for post "{{ post.title }}"</h3>
            </div>
        </header>
	{% for comment in post.comments.all() %}
        <div class="article-description">
            <div class="content-wrap">
                <p class="date-article">Posted at {{comment.time}}</p>
                <p class="light-text">{{ comment.text }}</p>
                <a class="date-article" href = "{{url_for('delete_comment', id = post.id, comment_id = comment.id)}}" >Delete</a>
            </div>
        </div>
        {% endfor %}
        <div class = "article-description">
            <a class="light-text"href = "{{url_for('new_comment', id = post.id)}}">Add new comment</a>
        </div>
        <footer class="footer">
            <div class="content-wrap">
                <p class="copy text-center vert-align">© 2016 Masters Academy</p>
            </div>
        </footer>
    </body>
</html>