<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Masters Coding Camp</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="../static/js/fonts.js"></script>
	<link rel="stylesheet" href="../static/css/main.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="create-header">
		<h1>Update post</h1>
	</header>
	<div class="content">
		<form action="">
			<label>
			<input type="submit" name="new-post">
				<svg class="icon">
					<symbol id="Layer_1" viewBox="0 0 32 32">	
						<polyline points="22.186,10.52 14.054,18.652 9.814,14.411 8.4,15.825 14.054,21.48 23.6,11.934   " fill="#ffffff"/>
					</symbol>
		    		<use xlink:href="#Layer_1"/>
				</svg>

				<!--
					Not working
					<svg class="icon">
						<use xlink:href="../static/img/1468689748_check-mark.svg#check"/>
					</svg>
				-->
			</label>
			<div class="create-content">
				<p>Title</p>
				<input type="text">
				<p>Description</p>
				<textarea name="description" id="" cols="30" rows="10"></textarea>
			</form>
		</div>
	</div>
	<footer>© 2016 Masters Academy</footer>
</body>
</html>