@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.content-wrap {
  display: table;
  width: 100%;
  max-width: 900px;
  height: 100%;
  margin: auto;
  padding: 15px; }

.vert-align {
  display: table-cell;
  vertical-align: middle; }

.name-field, .name-article > a, .name-article, .name-block {
  font: 400 35px Roboto;
  color: #000; }
  @media (min-width: 768px) {
    .name-field, .name-article > a, .name-article, .name-block {
      font-size: 52px; } }

.name-article > a:hover {
  text-decoration: underline; }

.light-text {
  font: 300 23px/27px Roboto;
  color: #000; }
  @media (min-width: 768px) {
    .light-text {
      font-size: 32px;
      line-height: 42px; } }

.date-post {
  font: 400 22px/27px Roboto;
  color: #999;
  padding: 10px 0; }
  @media (min-width: 768px) {
    .date-post {
      font-size: 28px;
      line-height: 42px; } }

.text-center {
  text-align: center; }

.header {
  background: #3f51b5; }
  .header .content-wrap {
    position: relative;
    text-align: center;
    min-height: 150px;
    padding: 35px 15px; }
    @media (min-width: 768px) {
      .header .content-wrap {
        text-align: left;
        padding-left: 120px;
        min-height: 250px; } }
    .header .content-wrap .title-page {
      font: 700 60px Roboto;
      color: #f6f6f6; }
      @media (min-width: 768px) {
        .header .content-wrap .title-page {
          font-size: 94px; } }
    .header .content-wrap .title-article-page {
      font: 700 30px/40px Roboto;
      color: #f6f6f6; }
      @media (min-width: 600px) {
        .header .content-wrap .title-article-page {
          font-size: 42px;
          line-height: 50px;
          padding-right: 0; } }
      @media (min-width: 768px) {
        .header .content-wrap .title-article-page {
          font-size: 64px;
          line-height: 75px;
          padding-right: 70px; } }
    .header .content-wrap .date-post {
      color: #eee; }
      @media (min-width: 768px) {
        .header .content-wrap .date-post {
          padding: 0; } }
    .header .content-wrap .btn-header, .header .content-wrap .btn-back {
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%; }
      @media (min-width: 768px) {
        .header .content-wrap .btn-header, .header .content-wrap .btn-back {
          width: 114px;
          height: 114px; } }
    .header .content-wrap .btn-back {
      position: relative;
      margin: 0 10px 0 -10px; }
      @media (min-width: 768px) {
        .header .content-wrap .btn-back {
          margin: 56px 30px 56px -75px; } }
    .header .content-wrap .btn-header {
      position: absolute;
      right: 30px;
      bottom: -35px;
      background: #ff5252;
      border: none !important; }
      .header .content-wrap .btn-header:focus {
        outline: none; }
      @media (min-width: 768px) {
        .header .content-wrap .btn-header {
          right: 70px;
          bottom: -52px; } }
    .header .content-wrap .btn-edit {
      right: 110px; }
      @media (min-width: 768px) {
        .header .content-wrap .btn-edit {
          right: 200px; } }
    .header .content-wrap svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }

.header.new-article {
  background: #4caf50; }

.stream-blog, .add-new-article, .article-description {
  padding: 40px 0 10px; }
  .stream-blog .article, .stream-blog .form-article, .add-new-article .article, .add-new-article .form-article, .article-description .article, .article-description .form-article {
    padding-bottom: 30px; }
    .stream-blog .article:last-child, .stream-blog .form-article:last-child, .add-new-article .article:last-child, .add-new-article .form-article:last-child, .article-description .article:last-child, .article-description .form-article:last-child {
      padding-bottom: 15px; }
    @media (min-width: 768px) {
      .stream-blog .article, .stream-blog .form-article, .add-new-article .article, .add-new-article .form-article, .article-description .article, .article-description .form-article {
        padding: 15px 0; } }
  .stream-blog label, .stream-blog input, .stream-blog textarea, .add-new-article label, .add-new-article input, .add-new-article textarea, .article-description label, .article-description input, .article-description textarea {
    display: block; }
  .stream-blog input, .stream-blog textarea, .add-new-article input, .add-new-article textarea, .article-description input, .article-description textarea {
    width: 100%;
    font: 300 20px Roboto;
    color: #000;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px;
    border: 2px solid #010101; }
    @media (min-width: 768px) {
      .stream-blog input, .stream-blog textarea, .add-new-article input, .add-new-article textarea, .article-description input, .article-description textarea {
        font-size: 32px; } }
  .stream-blog input, .add-new-article input, .article-description input {
    border: none;
    border-bottom: 2px solid #010101; }

.wrap-comments {
  padding: 15px 0; }
  .wrap-comments .name-block {
    display: inline-block;
    vertical-align: middle;
    color: #999; }
  .wrap-comments .add-comment {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: #ffbe8e;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
    border: none !important; }
    .wrap-comments .add-comment:hover, .wrap-comments .add-comment:focus {
      cursor: pointer;
      outline: none; }
    .wrap-comments .add-comment svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
  .wrap-comments .form-comment {
    position: relative;
    padding: 20px 0; }
    .wrap-comments .form-comment .name-field {
      font: 400 25px Roboto; }
      @media (min-width: 768px) {
        .wrap-comments .form-comment .name-field {
          font-size: 35px; } }
    .wrap-comments .form-comment label, .wrap-comments .form-comment input, .wrap-comments .form-comment textarea {
      display: block; }
    .wrap-comments .form-comment input, .wrap-comments .form-comment textarea {
      width: 100%;
      font: 300 15px Roboto;
      color: #000;
      margin-top: 15px;
      padding: 10px;
      border: 1px solid #000; }
      @media (min-width: 768px) {
        .wrap-comments .form-comment input, .wrap-comments .form-comment textarea {
          font-size: 21px; } }
    .wrap-comments .form-comment input {
      margin-bottom: 30px; }
  .wrap-comments .list-comments {
    margin-top: 20px; }
  .wrap-comments li {
    position: relative;
    margin-bottom: 20px; }
    .wrap-comments li:last-child {
      margin-bottom: 0; }
  .wrap-comments .name {
    font: 400 20px Roboto;
    color: #006400; }
    @media (min-width: 768px) {
      .wrap-comments .name {
        font-size: 25px; } }
  .wrap-comments .date-post {
    font-size: 20px; }
    @media (min-width: 768px) {
      .wrap-comments .date-post {
        font-size: 25px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        line-height: inherit; } }
  .wrap-comments .comment-text {
    font: 300 15px/18px Roboto;
    padding: 10px 0; }
    @media (min-width: 768px) {
      .wrap-comments .comment-text {
        font-size: 21px;
        line-height: 25px; } }
  .wrap-comments .delete-btn {
    font: 400 22px/27px Roboto;
    color: #999; }
    @media (min-width: 768px) {
      .wrap-comments .delete-btn {
        font-size: 28px; } }

.footer {
  height: 100px; }
  @media (min-width: 768px) {
    .footer {
      height: 160px; } }
  .footer .copy {
    font: 400 22px Roboto;
    color: #000; }
    @media (min-width: 768px) {
      .footer .copy {
        font-size: 28px; } }
